cryptography/cipher_pile/outputs
/reverse_engineering/griffins_treasure/griffin.treasure.decrypted
/reverse_engineering/griffins_treasure/griffin.treasure.trimmed
/reverse_engineering/griffins_treasure/a.out
